# PBSawatea

# Import all packages listed as Imports or Depends
import(
  PBSmodelling, scape, scapeMCMC, xtable
  #PBSmodelling, scape, scapeMCMC, lattice, xtable, gdata, gplots
)

# Export all functions that do NOT begin with a dot (period)
exportPattern("^[^\\.]")

# Export dot functions by action (explicit list just to keep track)
exportPattern("^\\.comp")
exportPattern("^\\.flush")


